
.center{
  display: flex;
  justify-content: center;
  align-items: center;
} 

.list-row{
  display: flex;
  justify-content:end;
  align-items:center;

}

.list-row-text {
  flex-grow: 1
}

.list-item-grow {
  flex-grow: 1
}

dialog{
  text-align: center;
}


